geoutils/
__pycache__/
glacierenv/
mergedOutlines/
outlines/
outputXdem/
plots/
tables/
geoutils/
data/
figs/
__pycache__/helpers.cpython-39.pyc
__pycache__/meta.cpython-39.pyc
*.txt
*.csv
*.png
**/.DS_Store